/* Estilos del contenedor principal */
.w-full {
	width: 100%;
}

.max-w-lg {
	max-width: 32rem;
}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.p-3 {
	padding: 0.75rem;
}

.mb-6 {
	margin-bottom: 1.5rem;
}

/* Estilos de etiquetas de formulario */
.block {
	display: block;
}

.uppercase {
	text-transform: uppercase;
}

.text-gray-700 {
	color: #0ad171;
}

.text-xs {
	font-size: 0.75rem;
}

.font-bold {
	font-weight: 700;
}

.mb-2 {
	margin-bottom: 0.5rem;
}

/* Estilos de input de formulario */
.appearance-none {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.bg-gray-200 {
	background-color: #4b8ccc;
}

.border {
	border: 1px solid #b81212;
}

.rounded {
	border-radius: 0.25rem;
}

.py-3 {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}

.px-4 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.leading-tight {
	line-height: 1.25;
}

focus\:outline-none:focus {
	outline: none;
}

focus\:bg-white:focus {
	background-color: #fff;
}

/* Estilos del botón */
.bg-transparent {
	background-color: transparent;
}

.hover\:bg-gray-400:hover {
	background-color: #124e8d;
}

.text-gray-700 {
	color: #4a5568;
}

.font-semibold {
	font-weight: 600;
}

.hover\:text-white:hover {
	color: #fff;
}

.py-0 {
	padding-top: 0;
	padding-bottom: 0;
}

.px-4 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.border {
	border: 1px solid #094493;
}

hover\:border-transparent:hover {
	border-color: transparent;
}

.rounded {
	border-radius: 0.25rem;
}

/* Otros estilos */
form {
	width: 100%;
	max-width: 32rem;
}

/* Estilos adicionales para el formulario según tu aplicación */
/* Agrega estilos personalizados aquí si es necesario */