.bg-yellow-400 {
    background-color: #F59E0B;
}

.text-black {
    color: #000000;
}

.font-bold {
    font-weight: 700;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.w-fit {
    width: fit-content;
}

.h-fit {
    height: fit-content;
}

.p-2 {
    padding: 0.5rem;
}

.m-4 {
    margin: 1rem;
}

.gap-6 {
    gap: 1.5rem;
}

.items-center {
    align-items: center;
}

label {
    /* Puedes agregar estilos personalizados para las etiquetas si lo deseas */
}

input {
    /* Puedes agregar estilos personalizados para los campos de entrada si lo deseas */
}

button {
    /* Puedes agregar estilos personalizados para los botones si lo deseas */
}